{{ requireJs('main.bundle', 2) }}
<body>
{% include 'includes/header.twig' %}

{% set excludeItems = getPageLanguageContent(grabPageLanguage(page))|filter(x => x.elementDefinition.handle == 'subpage-vista' or x.elementDefinition.handle == 'home-vista')|length %}

{#{% include 'includes/menu.twig' %}#}
<main class="eds-section {{ excludeItems == 0 ? 'eds-section--margin-top' : '' }}">
    {{ renderSection('content') }}
</main>
<footer>

    {% include 'includes/legal-menu.twig' %}
    {% include 'includes/tracking-banner.twig' %}
</footer>
</body>