<div class="eds-home-vista {{ content.spacing_bottom }}">
    <div class="eds-home-vista__image">

        <div class="eds-home-vista__wrapper">

            <div class="eds-home-vista__content">

                <div class="eds-home-vista__title">
                    <span>{{ content.title_text }}</span>
                </div>

                <div class="eds-home-vista__main">

                </div>

            </div>

        </div>


    </div>
</div>