<div class="eds-location-vista">
    <div class="eds-location-vista__wrapper">

        <div class="eds-location-vista__header">

            <span>{{ content.headline }}</span>

        </div>

    </div>
</div>