{{ requireCss('vendor-leaflet') }}

<div class="eds-map">

    <div class="eds-map__wrapper eds-width--c4">

        <div class="eds-map__headline">
            <h2><span>{{ content.headline }}</span></h2>
        </div>

        <div class="eds-map__map" id="map">

        </div>

    </div>

</div>