<div class="eds-text {{ content.spacing_bottom }} ">
    <div class="eds-text__wrapper eds-width--c8">
        <div class="eds-text__headline eds-headline">
            {{ content.title|formatHeadline }}
        </div>

        <div class="eds-text__main eds-richtext">
            {{ content.text|raw }}
        </div>

    </div>

</div>