.eds-home-vista {
  overflow: hidden;


  &__container {
    height: calc(var(--vh, 1vh) * 80);
  }

  &__image {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

}